*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 16px;
  color: #333333;
  background-color: #f6f6f6;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

/* -------HERO------ */
.hero{
  background-image: url('Images/tr-curve.png');
  background-size: 50em;
  background-repeat: no-repeat;
  background-position: top right;
  height: 100vh;
  width: 100vw;
}

header{
  height: 20%;
  width: 100%;
}

.navbar{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

.navbar-logo{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #6db0d6;
  font-weight: 300;
  padding-left: 100px;
  filter: opacity(0.5);
  transition: all 0.3s;
  outline: none;
}

.navbar-logo img{
  height: 40px;
}

.navbar-logo:hover{
  filter: opacity(1);
  color: #1d6aa7;
}

.navbar-list{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  list-style: none;
}

.nav-item a{
  color: #f6f6f6;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
  outline: none;
}

.nav-item a:hover{
  color: #c6c6c6;
}

.hero-image img{
  height: 38em;
}

.hero-content{
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  margin-top: 50px;
}

.hero-text{
  text-transform: uppercase;
  font-size: 2.5em;
  width: 11em;
  font-weight: bold;
  box-shadow: 0px 0px 60px;
  height: 6em;
  padding: 20px;
  border-radius: 10px;
}

.hero-text h2{
  font-weight: 300;
  font-size: 0.5em;
  margin-top: 20px;
}

/* ---------About Me---------- */

#about{
  height: 130vh;
  width: 100vw;
  background-image: url('Images/l-curve.png');
  background-size: 38em;
  background-repeat: no-repeat;
  background-position: top left;
  background-position-y: 5em;
  margin-top: 5em;
}

.about-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 5em;
}

.about-title{
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 1em;
}

.line{
  background-color: #333333;
  height: 4px;
  width: 100px;
  position: relative;
  top: 10px;
}

.about-box{
  display: flex;
  justify-content: space-between;
}

.about-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 50vw;
}

.about-desc img{
  height: 250px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.desc-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35em;
  margin: 40px;
  padding: 30px;
}

.desc-text h1{
  font-weight: bold;
  font-size: 1.2em;
  width: 70%;
  color: #333333;
  text-align: justify;
  width: 100%;
}

.about-things{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  padding: 2em 5em 0 5em;
}

.about-row{
  display: flex;
  justify-content: space-between;
}

.things{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 10px lightgrey;
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 10px;
  width: 15em;
}

.franja{
  width: 100%;
  background-color: #6db0d6;
}

.things img{
  height: 90px;
}

.things h2{
  font-size: 1em;
  font-weight: normal;
  text-align: left;
}

.things span{
  font-weight: bold;
  margin-bottom: 5px;
}

/* ------Tecnologias------- */
.tecnologias{
  height: 100vh;
}

.tec-title-container{
  margin-bottom: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tec-title{
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.line2{
  background-color: #333333;
  height: 4px;
  width: 200px;
  position: relative;
  top: 10px;
}

.tec-box{
  background-color: rgb(202, 202, 221);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 80vh;
  width: 100vw;
  padding: 100px;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);

}

.tec-img{
  height: 90px;
  margin: 30px 60px;
  cursor: pointer;
  transition: 0.3s;
}

.tec-img:hover{
  transform: scale(1.4);
}

.tec-img:nth-child(7),
.tec-img:nth-child(8){
  height: 150px;
}

/* -----modal------ */

#modal{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: none;
}

#close-btn{
  cursor: pointer;
}

.modal-content{
  background-color: #f6f6f6;
  height: 28em;
  width: 40em;
  border-radius: 10px;
  box-shadow: 6px 6px 20px black;
}

.modal-header{
  background-color: #1d6aa7;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.9em;
  height: 3em;
  padding: 20px 50px;
  border-radius: 5px 5px 0px 0px;
}

.modal-body{
  padding: 50px;
  text-align: justify;
  font-size: 1.3em;
}

/* -----------PROYECTOS!!!-------- */

#proyectos{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 10em;
}

.project-box{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px gray;
  border-radius: 10px;
  width: 100%;
  height: 40%;
  padding: 10px;
}

.project-image{
  height: 100%;
}

.project-image img{
  height: 100%;
}

.project-info{
  height: 100%;
  padding: 10px 30px;
}

.project-info{
  display: fleX;
  flex-direction: column;
  justify-content: space-between;
}

.project-header{
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}

.project-icons{
  font-size: 0.6em;
}

.project-body h2{
  text-align: left;
  font-size: 1em;
  font-weight: 400;
}

.project-footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-footer a{
  margin: 0px 10px;
  height: 2.2em;
  width: 10em;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-footer a:active{
  box-shadow: 0px 0px 5px gray;
}

.blue-btn{
  background-color: #1d6aa7;
}

.purple-btn{
  background-color: #8E6FCE;
}